{% extends "base.html" %}
{% block Loggout %}
<a href="/logout" class="btn btn-success">Logout</a>     
{% endblock Loggout %}

{% block AdminWelcomePage %}
<form action="MainPage" method="POST">
    {% csrf_token %}
    <input type="submit" value="Main" class="btn btn-info m-2 my-sm-0">
</form>
{% endblock AdminWelcomePage %}

{% load static %}
{% block body %}
<div class="container m-4">
  <h3>Please Enter Carefully <b>Student Library Registration Number</b></h3>
  <hr>
  <form action="BookIssueToStudent_Id_Check" method="POST">
    {% csrf_token %}
    <div class="form-group">
      <label for="RegNumber">Enter Student Registration Number</label>
      <input autofocus required type="text" class="form-control" id="RegNumber" name="BookIssueToStudent" placeholder="Student Library Registration Number">
    </div>
    <button type="submit" class="btn btn-primary mx-auto d-block">Check</button>
  </form>
</div>
{% endblock body %}