{% extends "base.html" %}
{% load static %}
{% block body %}
  <div class="container row mx=5 my=5">
    <div class="text-center col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
      <h1>Admin Login!</h1>
      <a href="/AdminLoginPage"><img src="{% static 'images/admin.png' %}" alt="Admin Login Image"></a>
    </div>
    <div class="text-center col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
      <h1>Student Login!</h1>
      <a href="/StudentLoginPage"><img src="{% static 'images/student.jpg' %}" class="border border-dark rounded" alt="Student Login Image"></a>
    </div>

  </div>
{% endblock body %}